@charset "UTF-8";
/*
    em HTML é id = em CSS é # (so pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: #cef7b7;
}

h1 {
    color: #39633f;
}
h1#principal {
    text-align: center;
    background-color: #9EDBA6;
    color: #568f5c;
}

h2 {
    color:  #57805d;
}
.basico {
    color: green;
}

.intermediario {
    color: orange;
}

.avancado {
 color: red;
}

.destaque {
    background-color: rgba(248, 248, 8, 0.24);
}