@charset "UTF-8";

/*Typical Device Brakpoints
Pequenas Telas : até 600px
Celular: de 600px até 769 px
Tablet: 768px até 992px
Destop : 992px até 1200px
Grandes Telas: acima de 1200px
*/

@media screen and (min-width: 768px){
    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li{
        display: inline-block;
    }

    main {
        width: 768px;
    }
}